@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    font-feature-settings: 'cv11', 'ss01';
  }
  
  body {
    @apply bg-neutral-50 text-neutral-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

